body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eaeaea;
}

input,
textarea {
  caret-color: red;
}
.contact .title::after {
  content: "get in touch";
  background: #eaeaea;
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: var(--main-default);
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}

.navbar.fixed {
  position: fixed;
}

.navbar.fixed {
  padding: 15px 0;
  background: var(--main-default);
}

.navbar.fixed .logo a span {
  color: #fff;
}

@media (max-width: 768px) {
  .contact .contact-content .column {
    width: 90%;
    margin: 0 auto;
  }
}
